[phases.setup]
nixPkgs = ["python39"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt --no-cache-dir"
]

[phases.build]
cmds = []

[start]
cmd = "streamlit run app.py --server.port=$PORT --server.address=0.0.0.0"

