PyPDF2
pdfplumber
langchain
langchain-community
sentence-transformers
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
numpy<2.0,>=1.22.0
pandas
chromadb
faiss-cpu
openai
tqdm
python-dotenv
rich
streamlit
